In [78]:
import pandas as pd

In [79]:
df1 = pd.read_excel("excel_files/file1.xlsx")

In [80]:
df2 = pd.read_excel("excel_files/file2.xlsx")

In [81]:
df3 = pd.read_excel("excel_files/file3.xlsx")

In [82]:
# Show the DataFrame's shape

In [83]:
df1.shape

(1071, 11)

In [84]:
df2.shape

(996, 11)

In [85]:
df3.shape

(7070, 11)

In [86]:
# Standardize header names

In [87]:
df1.columns.tolist()

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [88]:
df2.columns.tolist()

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [89]:
df3.columns.tolist()

['Customer',
 'State',
 'Customer Lifetime Value',
 'Education',
 'Gender',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Total Claim Amount',
 'Vehicle Class']

In [90]:
df1 = df1.rename(columns={'GENDER': 'Gender', 'ST': 'State'})

In [91]:
df1.columns.tolist()

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [92]:
df2 = df2.rename(columns={'GENDER': 'Gender', 'ST': 'State'})

In [93]:
df2.columns.tolist()

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [94]:
# Rearrange the columns in the dataframe as needed

# data_new = data_new[['controln','state','gender','hv1','hvp1', 
 'ic1','ic2','ic3','ic4','ic5', 'pobc1', 'pobc2',
 'avggift','tcode','target_d']]

IndentationError: unexpected indent (<ipython-input-94-1ec3e4da1597>, line 4)

In [95]:
df1 = df1[['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']]

In [96]:
df2 = df2[['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']]

In [97]:
df3 = df3[['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']]

In [98]:
df1.columns.tolist()

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [99]:
df2.columns.tolist()

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [100]:
df3.columns.tolist()

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [101]:
# Concatenate the three dataframes

# data_new = pd.concat([df3,df4],ignore_index=True)

In [102]:
customers = pd.concat([df1,df2,df3], ignore_index = True)

In [103]:
customers

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,1131.464935,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,566.472247,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,529.881344,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,17.269323,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,Bachelor,23406,71941,73,0,198.234764,Personal Auto,Four-Door Car
9133,PK87824,California,F,College,3096.51,21604,79,0,379.200000,Corporate Auto,Four-Door Car
9134,TD14365,California,M,Bachelor,8163.89,0,85,3,790.784983,Corporate Auto,Four-Door Car
9135,UP19263,California,M,College,7524.44,21941,96,0,691.200000,Personal Auto,Four-Door Car
9136,Y167826,California,M,College,2611.84,0,77,0,369.600000,Corporate Auto,Two-Door Car

In [104]:
# Which columns are numerical?
# Which columns are categorical?

In [105]:
customers.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints     object
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [106]:
# Delete the column education and the number of open complaints from the dataframe.

# To drop a column - Axis = 1 (rows are axis 0) Normally inPlace is False,
# so the changes won't be saved.
# We have to change it to True in order to change it forever
# Do not forget: first () for the whole and then [] for the columns

# data_new.drop(["domain","dob"], axis = 1,inplace=True)

In [107]:
customers.drop(['Education','Number of Open Complaints'], axis = 1, inplace=True)

In [108]:
customers.columns.tolist()

['Customer',
 'State',
 'Gender',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [109]:
# Correct the values in the column customer lifetime value.
# They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [113]:
# loop through column
# check value
# if: value endswith %
# Then: remove % sign from string, turn it into float, multiply by 100

def perc(x):
    x = str(x)
    if x.endswith('%'):
        return float(x[:-1]) / 100
    else:
        return float(x)

    
customers['Customer Lifetime Value'] = customers['Customer Lifetime Value'].apply(perc)

In [114]:
customers.dtypes

Customer                    object
State                       object
Gender                      object
Customer Lifetime Value    float64
Income                       int64
Monthly Premium Auto         int64
Total Claim Amount         float64
Policy Type                 object
Vehicle Class               object
dtype: object

In [ ]:
# Alternatively using np.where() np.where check the condition, if it is
# true 

customers['Customer']

In [ ]:
#Check for duplicate rows in the data and remove if any.

In [115]:
customers.shape

(9137, 9)

In [116]:
customers.duplicated(subset=None, keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
9132    False
9133    False
9134    False
9135    False
9136    False
Length: 9137, dtype: bool

In [117]:
customers.shape

(9137, 9)

In [122]:
# Filter out the data for customers who have an income of 0 or less.
# If it is just one condition, we use just [], if there are more than one,
# every condition between ()


customers[customers["Income"] <= 0]

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,NaN,0,1000,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,6979.535900,0,94,1131.464935,Personal Auto,Four-Door Car
3,WW63253,California,M,7645.861800,0,106,529.881344,Corporate Auto,SUV
7,CF85061,Arizona,M,7216.100300,0,101,363.029680,Corporate Auto,Four-Door Car
10,SX51350,California,M,4738.992000,0,67,482.400000,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...
9126,WZ45103,California,F,5678.050167,0,76,364.800000,Personal Auto,Four-Door Car
9128,RX91025,California,M,19872.262000,0,185,1950.725547,Personal Auto,SUV
9129,AC13887,California,M,4628.995325,0,67,482.400000,Corporate Auto,Two-Door Car
9134,TD14365,California,M,8163.890428,0,85,790.784983,Corporate Auto,Four-Door Car
9136,Y167826,California,M,2611.836866,0,77,369.600000,Corporate Auto,Two-Door Car